@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
  }
  
  h1 {
    font-family: Norse-Bold, sans-serif;
  }
  
  body{
    margin: 0;
    padding: 0;
  }
  .main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    /* justify-content: center; */
  
  }

  .left{
    background-image: url('./images/ai.jpg');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-family: Norse-Bold sans-serif;
  }
  
  
  .right{
    display: flex;
    flex-direction: column;
  } 

  .first{
    height: 33vh;
  }

  .second{
    height: 33vh;
  }

  .third{
    height: 33vh;
  }